<?xml version="1.0" encoding="utf-8" ?> 
  <elements>
   <element>
    <name>Car</name>
    <image>car.jpg</image>
    <sound>car.mp3</sound>
    <category>1</category>
  </element>
  <element>
    <name>Motor</name>
    <image>motor.jpg</image>
    <sound>motor.mp3</sound>
    <category>1</category>
  </element>
  <element>
    <name>Train</name>
    <image>train.jpg</image>
    <sound>train.mp3</sound>
    <category>1</category>
  </element>
  <element>
    <name>Police</name>
    <image>police.jpg</image>
    <sound>police.mp3</sound>
    <category>1</category>
  </element>
   <element>
    <name>Horse</name>
    <image>horse.jpg</image>
    <sound>horse.mp3</sound>
    <category>2</category>
  </element>
  <element>
    <name>Crow</name>
    <image>crow.jpg</image>
    <sound>crow.mp3</sound>
    <category>2</category>
  </element>
   <element>
    <name>Guitar</name>
    <image>guitar.jpg</image>
    <sound>guitar.mp3</sound>
    <category>3</category>
  </element>
  <element>
    <name>Drums</name>
    <image>drums.jpg</image>
    <sound>drums.mp3</sound>
    <category>3</category>
  </element>
  <element>
    <name>Keyboard</name>
    <image>szinti.jpg</image>
    <sound>szinti.mp3</sound>
    <category>3</category>
  </element>
</elements>
