<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="31319SzP.HowItSounds" Publisher="CN=5E2648B0-6814-414C-BE07-B8A59A695E76" Version="1.1.7.0" />
  <mp:PhoneIdentity PhoneProductId="beeb574d-aca1-4f08-b00a-9a4e95e721c4" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>HowItSounds</DisplayName>
    <PublisherDisplayName>Péter Szász</PublisherDisplayName>
    <Logo>Assets\Logos\HowItSounds.StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HowItSounds.App">
      <uap:VisualElements DisplayName="ms-resource:DisplayName" Square150x150Logo="Assets\Logos\HowItSoundsSquare150x150Logo.png" Square44x44Logo="Assets\Logos\HowItSoundsSquare44x44Logo.png" Description="ms-resource:Description" BackgroundColor="transparent">
        <uap:DefaultTile Square310x310Logo="Assets\Logos\HowItSoundsSquare310x310Logo.png" Wide310x150Logo="Assets\Logos\HowItSoundsSquare310x150Logo.png" Square71x71Logo="Assets\Logos\HowItSoundsSquare71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Logos\HowItSoundsSplashScreen.png" BackgroundColor="#4c5ba5" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>